#page{
    line-height: 1.42
}
.mar-bot{
    margin-bottom: 0.65rem;
}
.product-part{
    padding: 0.75rem;
    min-height: 3.5rem;
}
.product-content{
    margin-left: 4.2rem;
}
.product-part .image{
    float: left;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.2rem;
}
.diffTime{
    color: #808080;
    margin-top: 0.3rem;
    margin-bottom: 0.35rem;
}
.hasborder{
    border-bottom: 0.025rem solid rgba(0, 0, 0, 0.1);
}
.item{
	display: block;
    margin-left: 0.75rem;
    padding: 0.5rem 0.75rem 0.5rem 0;
}
.item.fatTop{
	padding-top: 0.75rem;
}
.item.fatBottom{
	padding-bottom: 0.75rem;
}
	
.item.longSelectParts-item{
	margin-bottom: 0;
	padding-left: 1.55rem;
}
.item.longSelectParts-item .price{
	right: 0.75rem;
}
.item.bg-arrow-right{
    padding-right: 1.8rem;
}
.item .label{
    float: left;
}
.item-right{
    margin-left: 5.5rem;
}
.pad-top{
    padding-top: 0.5rem;
}
.pad-bot{
    padding-bottom: 0.5rem;
}
.pad-bot-none{
    padding-bottom: 0
}
.green-btn{
    border: 0.1rem solid #50E3C2;
    width: 6.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 1.5rem auto 0 auto;
    border-radius: 0.1rem;
    font-weight: bold;
}
.tip-popup-wrap,
.coupon-popup-wrap{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 210;
    background: #fff
}
.public-popup-wrap{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 210;
}
.tip-popup,
.coupon-popup{
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    animation:anim-popup 0.3s;
    -webkit-animation:anim-popup 0.3s;
}
.tip-header{
    position: relative;
    height: 4.5rem;
    margin-bottom: 1.75rem;
    line-height: 4.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    background: -webkit-linear-gradient(#23e8bd, #87CCD2); 
    background: -o-linear-gradient(#23e8bd, #87CCD2); 
    background: -moz-linear-gradient(#23e8bd, #87CCD2); 
    background: linear-gradient(#23e8bd, #87CCD2); 
}
.tip-header::before,
.tip-header::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 1.05rem solid #fff;
    border-left: 0;
    border-right: 9.375rem solid transparent;
}
.tip-header::after{
    left: auto;
    right: 0;
    border-right: 0;
    border-left: 9.375rem solid transparent;
}
.tip-item{
    position: relative;
    margin: 0 2.25rem 1.25rem 2.25rem;
    padding-left: 0.65rem;
    color: #141414;
}
.tip-item text{
    font-weight: bold;
}
.tip-item::before{
    content: "";
    display: block;
    position: absolute;
    left: -0.1rem;
    top: 0.25rem;
    width: 0.35rem;
    height: 0.35rem;
    background: #F6A623;
    border-radius: 100%;
}
.tip-close,
.coupon-close{
    position: absolute;
    left: 0;
    top: 0.2rem;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.2rem;
}
.coupon-close{
	position: relative;
	left: 0.2rem;
	margin-bottom: 0.2rem;
}
.placeOrder-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    border-top: 1px solid #cdcdcd;
    background: #fff;
    line-height: 2.5rem;
    min-height: 2.5rem;
}
.footer-left{
    margin-left: 0.75rem;
    margin-right: 6.5rem;
}
.footer-comfirm{
    float: right;
    width: 5.75rem;
    height: 2.5rem;
    border-radius: 0;
    color: #FFFFFF;
}
.foot-sum{   
    line-height: 1rem;
    margin-top: 0.4rem;
}
.foot-deposit{
    line-height: 0.85rem;
}
.block-footer{
    height: 2.5rem;
}
.set-count{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.7rem;
}
.count-btn{
    display: inline-block;
    position: relative;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: #cdcdcd;
    vertical-align: middle;
}
.count-btn.bg-green{
    background-color: #23e8bd;
}
.count-btn::before,
.plus-btn::after{
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	width: 0.4rem;
	height: 0.1rem;
	background: #fff;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.plus-btn::after{
	width: 0.1rem;
	height: 0.4rem;
}
.coupon-item{
	position: relative;
	width: 18.15rem;
    height: 6.75rem;
    margin: 0.45rem auto 0 auto;
    background-image: url(../img/couponbg.png);
    overflow: hidden;
}
.coupon-item.overdueCoupon{
	background-image: url(../img/couponbgGray.png);
}
.coupon-item .time{
    font-size: 0.6rem;
    margin-top: 0.36rem;
    text-align: center;
    margin-left: 0.5rem;
}
.coupon-item .label{
	position: absolute;
	text-align: center;
	right: 1rem;
	top: 1.7rem;
	line-height: 1;
}

.coupon-item.overdueCoupon .label{
	color: #808080;
	top:2.3rem;
}
.coupon-item .condition{
	margin-top: 1rem;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 0.95rem;
}
.coupon-item .condition .type{
	margin-right: 0.45rem;
	height: 0.95rem;
	width: 1.8rem;
}
.coupon-item .value{
    position: absolute;
    left:0;
    width: 6rem;
    text-align: center;
    font-size: 2.8rem;
    line-height: 4.2rem;
    top: 0;
}
.coupon-item.moneyCoupon .value:before{
    content: "¥";
    font-size: 0.8rem;
}
.coupon-item.discountCoupon .value:after{
    content: "折";
    font-size: 0.7rem;
}
.coupon-item.rentCoupon .value:after{
    content: "个月";
    font-size: 0.7rem;
}
.coupon-item.rentCouponShort .value:after{
    content: "天";
    font-size: 0.7rem;
}
.coupon-shadow{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.expired-text{
	position: absolute;
	right: 1.15rem;
	top: 1rem;
	z-index: 10;
	font-size: 0.6rem;
	color: #808080;
}
.coupon-item .tip{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.3rem;
	text-align: center;
	color: #9B9B9B;
	line-height: 2.15rem;
}
.coupon-item.overdueCoupon .tip,
.coupon-item.overdueCoupon .value,
.coupon-item.overdueCoupon .time,
.coupon-item.overdueCoupon .condition{
	color: #808080;
}
.coupon-item.overdueCoupon .condition .type{
	background: #808080;
}
.coupon-header{
    position: relative;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}
.noCoupon{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
.orderTime-part{
 /* min-height: 7.6rem;*/
}
.coupon-part{
  min-height: 2.45rem;
}
.orderMoney-part{
 /* min-height: 12.5rem;*/
  padding-bottom: 1rem;
  margin-bottom: 0.7rem;
}
.scroll-coupon{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup{
    background:#ffffff;
    box-shadow:0px -7px 10px 0px rgba(0,0,0,0.25);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 210;
    height: 100%;
}
.safe-part img{
  vertical-align: middle;
  width: 1.1rem;
  float: left;
  margin-top: 0.4rem;
}
.safe-part .safe-content{
  margin-left: 1.45rem;
  position: relative;
}
.safe-part .mySwitch,
.longRent-foot .mySwitch{
  position: absolute;
  right: 0.75rem;
  top: 50%;
  margin-top: -0.75rem;
}
.safe-part .btn{
  right: 0;
  bottom: 0;
  top: 0;
  line-height: 3.35rem;
  padding-right: 1.8rem;
  padding-left: 4rem;
}
.safe-popup .close{
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 0.75rem;
  top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.safe-popup .change-btn{
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 5rem;
	line-height: 2rem;
	color: #d4d4d4;
}
.safe-popup .btn-left{
	left: 0.7rem;
}
.safe-popup .btn-right{
	right: 0.7rem;
}
.safe-popup .change-btn.active{
	color: #f5a623;
}
.safe-popup .image{
  float: none;
  display: block;
  border: 1px solid transparent;
  width: 11.5rem;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
}
.safe-popup .product-wrap{
	position: relative;
	width: 12rem;
	height: 3.2rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 0.4rem;
	border: 1px solid #CDCDCD;
	border-radius: 0.2rem;
}
.safe-popup .productImage{
  width:3.2rem;
  height:3.2rem;
  margin-right: 0.49rem;
}
.safe-popup .name{
	position: absolute;
	left: 4.2rem;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: left;
}
.safe-popup .title{
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
  color: #0E4F6A;
}
.safe-popup .words-list{
  margin: 0 0.75rem;
  max-height: 16rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.safe-popup .words-list li{
	position: relative;
	padding-left: 0.8rem;
	margin-bottom: 1rem;
}
.safe-popup .words-list li:before{
	content: "";
	position: absolute;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 100%;
	left: 0;
	top: 0.36rem;
	background: #808080;
}
.safe-popup .bottom{
  position: absolute;
  bottom: 1.25rem;
  left: 1.875rem;
}
.safe-popup .bottom .btn{
  background: #2D527C;
  box-shadow: 0 1px 4px 0 #28A8DF;
  border-radius:5rem;
  width: 15rem;
  height: 2.2rem;
  line-height: 2.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.safe-popup .bottom .tip{
  color: #28A8DF;
}
.remark-wrap{
  padding-right: 1rem;
}

.transpotWay-wrap{
  background: #F2F2F2;
}
.transpotWay-wrap .title{
  margin: 2rem 0 0.75rem 0.75rem;
}
.transpotWay-wrap .tip{
  margin: 0 0.75rem 0.75rem 0.75rem;
  line-height: 1.4;
}
.transpotWay-wrap .list{
  margin-bottom: 0.5rem;
}
.transpotWay-wrap .list >.item{
  margin-left: 0.75rem;
  border-bottom: 1px solid #cdcdcd;
  padding: 1rem 0;
}
.transpotWay-wrap .list .item:last-child{
  border: none;
}
.transpotWay-wrap .close-btn{
	display: block;
	position: absolute;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2.4rem;
    left: 0;
    top: 0;
    height: 2.4rem;
    width: 2.4rem;
}
.remark-popup-wrap .content{
  padding: 3rem 0.6rem 1rem 0.6rem;
  margin-bottom: 1.25rem;
}
.remark-popup-wrap .textarea-wrap{
  position: relative;
  background: #F2F2F2;
  border: 1px solid #CBCBCB;
  border-radius: 0.2rem;
  padding: 0.5rem;
}
.remark-popup-wrap textarea{
  width: 100%;
  height: 5rem;
  background: transparent;
  border: none;
}
.remark-popup-wrap textarea:focus{
	border:none;
	outline: none;
}
.remark-popup-wrap textarea::-webkit-input-placeholder{
  color: #CBCBCB;
}
.remark-popup-wrap .textarea-wrap .count{
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  color: #CBCBCB;
}
.remark-popup-wrap .btn{
  background: #23E8BD;
  border-radius: 0.2rem;
  color: #fff;
  line-height: 2.2rem;
  height: 2.2rem;
  text-align: center;
  width: 17.5rem;
  margin: 0 auto
}
.remark-popup-wrap .remark-close{
	left: 0.4rem;
}
.lists-product-list{
	padding-left: 0.4rem;
}
.lists-product-list > li{
	padding: 0.75rem 0.85rem 0.75rem 0.35rem;
}
.lists-product-list > li .image{
	width: 5.2rem;
	height: 5.2rem;
}
.lists-product-list > li .content{
	margin-left: 6.45rem;
	margin-right: 1.25rem;
}
.lists-product-list > li .content .name{
	line-height: 0.9rem;
	margin-bottom: 0.3rem;
}
.lists-product-list > li .content .time{
	line-height: 1.41;
}
.lists-product-list > li .content .money{
	margin-top: 0.25rem;
	margin-bottom: 0.2rem;
	color: #C34655;
}
.lists-product-list > li .count{
	top: 50%;
	line-height: 1;
	margin-top: -0.3rem;
	right: 0.75rem;
}
.safe-list > li{
	border: 0.1rem solid #16C49E;
	border-radius: 0.1rem;
	padding: 0.85rem 6.05rem 0.85rem 2.15rem;
	color: #4E4E4E;
	margin: 0 0.75rem 0.9rem 0.75rem;
	line-height: 1.28;
}
.safe-list > li > .amount{
	color: #C34655;
	line-height: 1;
	right: 0.6rem;
	top: 50%;
	margin-top: -0.35rem;
}
.safe-list > li > .myCheckbox-btn{
	right: auto;
	left: 0.6rem;
	width: 0.8rem;
	height: 0.8rem;
	margin-top: -0.4rem;
	border: 0.1rem solid #16C49E;
	background-position:center ;
    background-repeat:no-repeat ;
    background-size:70%; 
}
.safe-list > li.active{
	background: rgba(35,232,189,0.30);
}
.safe-list > li.active > .myCheckbox-btn{
    background-color:#16C49E;
    background-image: url(../img/done-white.png);
}
.safe-list > li.disable{
	background: rgba(205,205,205,0.30);
	border: 2px solid #CDCDCD;
	color: #808080;
}
.safe-list > li.disable > .myCheckbox-btn{
	border-color: #CDCDCD;
    background-color:#CDCDCD;
    background-image: url(../img/done-white.png);
}
.safe-list > li.checked{
	background: rgba(35,232,189,0.15);
	border-color: rgba(22,196,158,0.5);
}
.safe-list > li.checked > .myCheckbox-btn{
	opacity: 0.5;
	background-color:#16C49E;
	background-image: url(../img/done-white.png);
}
.safe-list > li.disable >.amount{
	color: #808080;
}
.popup-bottom{
	height: auto;
	padding-bottom: 0.6rem;
	padding-top: 1rem;
	z-index: 220;
}
.popup-bottom > .tip{
	margin-bottom: 1.25rem;
}
.popup-bottom .btn{
	margin: 0 0.75rem;
}
.safeSelect-content{
	max-height: 15rem;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 0.5rem;
}
.popup-bottom-shadow{
	z-index: 210;
}
.zhimaRule-layer{
	z-index: 210;
	background: -webkit-linear-gradient(220deg, #5A49FF 0%, #53A0FD 38%, #3CEFC1 100%);
    background: -o-linear-gradient(220deg, #5A49FF 0%, #53A0FD 38%, #3CEFC1 100%);
    background: -moz-linear-gradient(220deg, #5A49FF 0%, #53A0FD 38%, #3CEFC1 100%);
    background: linear-gradient(220deg, #5A49FF 0%, #53A0FD 38%, #3CEFC1 100%);
}
.zhimaRule-wrap{
	width: 17.2rem;
	height: 88%;
	border-radius: 0.5rem;
}
.zhimaRule-wrap .image{
	display: block;
	margin: 3rem auto 0 auto;
	width: 10.6rem;
	height: 10.4rem;
	background-image: url(../img/zhimaRule-pop.jpg);
}
.zhimaRule-wrap .p1{
	margin-top: 1.84rem;
	margin-bottom: 0.5rem;
	letter-spacing: -0.05rem;
}
.zhimaRule-wrap .p2{
	line-height: 1.25rem;
}
.zhimaRule-wrap .btn{
	position: absolute;
	bottom: 2rem;
	width: 7.6rem;
	height: 1.85rem;
	line-height: 1.85rem;
	background-image: -webkit-linear-gradient(-180deg, #16EEF2 0%, #09D9E1 100%);
	background-image: linear-gradient(-180deg, #16EEF2 0%, #09D9E1 100%);
	border-radius: 1.85rem;
	left: 50%;
	margin-left: -3.8rem;
	color: #FBF9F3;
	letter-spacing: 0.05rem;
}
.longSelect-popup{
	height: 80%;
}
.agree-wrap {
	padding-left: 0.75rem;
}
.agree-wrap .myCheckbox-btn{
	position: relative;
	width: 0.8rem;
	height: 0.8rem;
	top: 0;
	right: 0;
	margin: 0;
	margin-right: 0.2rem;
	border-radius: 0.2rem;
	border-color: #23E8BD;
}
.agree-wrap .myCheckbox-btn.checked{
	background-color:#23E8BD 
}
.longRent-foot{
	padding: 0.8rem 0.75rem;
	margin-top: 0.1rem;
	margin-bottom: 0.5rem;
}
